<a href="https://colab.research.google.com/github/nisabelkar/python-for-data-science/blob/master/lecture_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#if else statement

In [0]:
age=75
if age>60:
 print('senior citizen')
else:
  print('adult')

senior citizen

In [0]:
age=int(input("enter your age"))
if age>18:
  print("you can ride")
else:
  print("you cannot ride")

enter your age25
you can ride

#nested if statement

In [0]:
#define an input variable for income
print ('Enter your income \n')
income=int(input())

#define an input variable for ongoing_loan
print('Do you have an ongoing_loan \n')
ongoing_loan=str(input())

#start the if statement

if income>50000:
  if ongoing_loan =='yes':
    print('sorry your not eligible for loan')
  else:
    print('congrats,you are eligible')
else:
    print('sorry your not eligible for loan')

Enter your income

400000
Do you have an ongoing_loan

yes
sorry your not eligible for loan

#looping conditions

In [0]:
#looping is a continous process
#example:print random numbers
list=[1,2,3,4,5,6,7,8,9,10]
for nos in list:
  print(nos)

1
2
3
4
5
6
7
8
9
10

In [0]:
#conditional looping
#from the list only print odd numbers
numbers=[1,3,6,5,7,9,13,]
for x in numbers:
  if x%2 !=0:
     print(x)

1
3
5
7
9
13

In [0]:
 #print even nos
numbers=[1,2,3,4,5,6]
for x in numbers:
  if x%2 ==0:
    print(x)

2
4
6

#class inheritence

In [0]:
#retrive the wine dataset from scikit learn
from sklearn import datasets
datasets.load_wine().keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [0]:
datasets.load_wine()

NameError: ignored

In [0]:
#function|method
student1={'name':'nisa','age':22,'gender':'female'}
student2={'name':'rita','age':32,'gender':'female'}
student3={'name':'roy','age':42,'gender':'male'}

#def is used to define funcion
def print_values(my_dictionary):
  return my_dictionary.values()
print(print_values(student1))

dict_values(['nisa', 22, 'female'])

In [0]:
#print a list having even nos using functions having a for loop
lst=[1,2,3,4,5,6,7,8]

def even(even_nos):
  for x in even_nos:
    if x%2==0:
      print(x,end=" ")

In [0]:
even(lst)

2 4 6 8

In [0]:
list=[1,2,3,5,6]
def odd(odd_nos):
  for x in odd_nos:
    if x%2 !=0:
      print(x)
odd(list)

1
3
5